<h1><%= @movie.title %></h1>
<h3>Creation Year: <%= @movie.creation_year %></h3>
<h3>Genre: <%= @movie.genre %></h3>
<h3>Actors:</h3>
<% @movie.actors.each do |actor| %>
    <%= actor.name %> <br>
<% end %>
<h4>Add Actors:</h4>
<%= form_with url: "/movies/#{@movie.id}", method: :patch, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <%= f.submit 'Submit' %>
<% end %>